<div class="container ">
  <div class="row">
      <div *ngIf="dataLoaded==false" class="spinner-border text-success mx-auto" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
  </div>
</div>
<ul *ngIf="dataLoaded==true" class="list-group">
    <thead>
      <tr>
        <th>Category</th>
      </tr>
    </thead>
    <li [class]="getAllCategoryClass()" routerLink="/products" > All Products</li>
    <li (click)="setCurrentCategory(category)" routerLink="/products/category/{{category.categoryID}}" *ngFor="let category of categories" [class]="getCurrentCategoryClass(category)"> {{category.categoryName}} </li>
  </ul>